@font-face {
  font-family: 'Shantell Sans';
  src: url('./ShantellSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Shantell Sans';
  src: url('./ShantellSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
