html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-safe-area {
  padding-top: env(safe-area-inset-top); /* iOS notch / status bar */
  background-color: var(--ion-color-primary); /* or your header bg */
  z-index: 10;
}

body {
  padding-bottom: env(safe-area-inset-bottom); /* optional for bottom navs/floating buttons */
}